<h1>Edit Bubble Tea</h1>

<form action="/bubble_teas/<%=@bubble_tea.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <label>Name:</label>

  <br><br>

  <input type="text" name="bubble_tea[name]" id="bubble_tea_name">

  <br><br>

    <label>Tea Flavor:</label>
    <br><br>
    <input type="text" name="bubble_tea[flavor]" id="bubble_tea_flavor">
    <br><br>
  <label>Ingredient:</label>
   <% @ingredients.each do |ingredient| %>
    <input type="checkbox" name="bubble_tea[ingredient_ids][]" 
    id= "<%= ingredient.id%>" value = "<%= ingredient.id%>">
    <%=ingredient.name%> 
    
    <br><br>
  <% end %>
  
  <br><br>

 
  
  
   <input type="submit" id = "submit" value="Save">
</form>
