
<h1>All your bubble teas</h1>

<% @bubble_teas.each do |bubble_tea| %>
<ul>
<br>

<li> Bubble Tea Name: <a href =  "bubble_teas/<%=bubble_tea.id%>" >  <%= bubble_tea.name%> </a></li>
<li> Bubble Tea Flavor: <%= bubble_tea.flavor%></li>



<li> Bubble Tea Ingredients: <% bubble_tea.ingredients.each do |ingredient|%>
<%= ingredient.name%> </li>
<%end%>
 
</ul>

<%end%>

<br><br>
<button><a href="/bubble_teas/new"><button type="button" name="button">Create bubble tea</a></button>
<p><a href ="/logout"> Log Out </a>
