
<h1>All your bubble teas</h1>

<% @bubble_teas.each do |bubble_tea| %>
<ul>
<br>
<li> Bubble Tea Name: <%= bubble_tea.name%></li>
<li> Bubble Tea Flavor: <%= bubble_tea.flavor%></li>
<%# <li> Ingredients: <%= bubble_tea.ingredients %></li> %>
</ul>
<%end%>


