
<h1>Bubble Tea Name:</h1>
<h1><%= @bubble_tea.name%></h1>
<label>Your flavor</label>
<p><%= @bubble_tea.flavor%></p>
<ul>
    <p><% @bubble_tea.ingredients.each do |ingredient|%></p>
        <li><%= bubble_tea.name%></li>
    <%end%>

</ul>



