
<h1>Bubble Tea Name:</h1>
<h1><%= @bubble_tea.name%></h1>
<br>
  
<label>Your flavor:</label>
<p><%= @bubble_tea.flavor%></p>
<ul>
    <p><% @bubble_tea.ingredients.each do |ingredient|%></p>
        <li><%= ingredient.name%></li>
    <%end%>

</ul>
<button><form action="/bubble_teas/<%=@bubble_tea.id%>" method="post">
    <input type="hidden" name="_method" value="delete" id="hidden">
    <input type="submit" value="Delete Bubble Tea">
  </form></button>

#edit - button - show page
#blog
#log out

