<h1>Log In here</h1>

<form action="/login"  method="post">
    <label>User name</label>
    <input  id="" type="text" name="user_name">
    <label>Password</label>
    <input type="password" name="password">
    
    <input type="submit" value="login">
</form>