<h1>Sign Up here</h1>
<form action="/signup"  method="post">
    <label>User Email</label>
    <input type = "text" name="user_email">
    <label>User name</label>
    <input  id="" type="text" name="user_name">
    <label>Password</label>
    <input type="password" name="password">
    
<input type="submit" value="sign up">
</form>