<h1>Sign Up here</h1>
<form action="/signup"  method="post">
    <label>Email Address</label>
    <input type = "text" name="email_address">
    <label>User name</label>
    <input  id="" type="text" name="user_name">
    <label>Password</label>
    <input type="password" name="password">
    
<input type="submit" value="sign up">
</form>