<h1>All bubble tea</h1>



<% @bubble_tea.each.do |bubbletea|%>
<ul>
    <a href= "/bubble_tea<%=bubble_tea.user.user_name%>"></a>

<li> Bubble Tea Name: <%= bubble_tea.name%> </li>
<%# <li> Tea Flavor: <%= bubble_tea.flavor%> %>
<li> Ingredients: <%= bubble_tea.ingredients%></li>
</ul>

<%end%>

