<h1>Customize your bubble tea</h1>

<form action="/pets" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="bubble_tea[name]" id="bubble_tea_name">

  <br></br>

  <label>Pick the ingredients you want:</label>
  <br></br>

  <% @ingredients.each do |ingredient| %>
    <input type="checkbox" name="bubble_tea_ingredients[bubble_tea_id]" 
    value="<%=bubble_tea.id%>" id="<%=bubble_tea.id%>">
    <%=ingredient.name%>
    </input>
  <% end %>
  <input type="submit" value="Create bubble tea">
</form>

