<h1>Welcome to Bubble Tea Generator</h1>

  <div> 
  <p>Create your account to start making some customized bubble tea</p>
  <p><a href ="/signup"> Sign Up </a> or <a href= "/login">Log In</a> to get started</p>
  </div>

